Repository andrii-nastenko/ui-playwright-tests: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, tsc --noEmit

added test for download pdf file, fixed lint
  .env.example
  .eslintrc.json
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
  src/ui/base-class.ts
  src/ui/pages/download-page/download-page-actions.ts
  src/ui/pages/download-page/download-page-selectors.ts
  src/ui/pages/google/home-page/home-page-actions.ts
  src/ui/pages/google/home-page/home-page-selectors.ts
  src/ui/pages/google/results-page/results-page-selectors.ts
  tests/ui/download-pdf.spec.ts
  tests/ui/google-search.spec.ts
Due: eslint --fix --quiet, tsc --noEmit

added test for download pdf file, fixed lint
  .eslintrc.json
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
  src/ui/base-class.ts
  src/ui/pages/download-page/download-page-actions.ts
  src/ui/pages/download-page/download-page-selectors.ts
  src/ui/pages/google/home-page/home-page-actions.ts
  src/ui/pages/google/home-page/home-page-selectors.ts
  src/ui/pages/google/results-page/results-page-selectors.ts
  tests/ui/download-pdf.spec.ts
  tests/ui/google-search.spec.ts
Due: eslint --fix --quiet, tsc --noEmit

added helpers
  package-lock.json
  package.json
  src/helpers/data-generator.ts
  src/helpers/various.ts
  tests/ui/download-pdf.spec.ts
Due: eslint --fix --quiet, tsc --noEmit

added dependabot weekly package checks
  .github/dependabot.yml
Due: none

added dependabot auto-merge
  .github/workflows/dependabot_automerge.yml
Due: none

updated tests
  config/ui.playwright.config.ts
  src/helpers/data-generator.ts
  src/helpers/various.ts
  src/ui/pages/download-page/download-page-actions.ts
  src/ui/pages/google/home-page/home-page-actions.ts
  src/ui/pages/google/home-page/home-page-selectors.ts
  tests/ui/download-pdf.spec.ts
  tests/ui/google-search.spec.ts
Due: eslint --fix --quiet, tsc --noEmit

Revert "added dependabot auto-merge"
  .github/workflows/dependabot_automerge.yml
Due: none

added node.js autocomplete support
  .eslintrc.json
  .github/workflows/check_code.yml
  .idea/jsLibraryMappings.xml
  .prettierrc.json
  package-lock.json
  package.json
Due: eslint --fix --quiet

added new helpers, refactored structure
  fixtures/ui-hooks.ts
  src/helpers/helpers.ts
  src/ui/base-class.ts
  src/ui/pages/download-page/download-page-actions.ts
  src/ui/pages/download-page/download-page-selectors.ts
  src/ui/pages/google/home-page.ts
  src/ui/pages/google/home-page/home-page-actions.ts
  src/ui/pages/google/home-page/home-page-selectors.ts
  src/ui/pages/google/results-page/results-page-selectors.ts
  src/ui/pages/google/search-results-page.ts
  src/ui/pages/groupdocs/download-page.ts
  src/ui/types/base-class-types.ts
  tests/ui/download-pdf.spec.ts
  tests/ui/downloads/download-pdf.spec.ts
  tests/ui/google-search.spec.ts
  tests/ui/google/google-search.spec.ts
Due: eslint --fix --quiet, tsc --noEmit

performance improvements
  config/ui.playwright.config.ts
  fixtures/ui-hooks.ts
Due: eslint --fix --quiet, tsc --noEmit

added tests for tables
  .env.example
  src/helpers/helpers.ts
  src/ui/base-class.ts
  src/ui/components/table.ts
  src/ui/types/table-types.ts
  tests/ui/w3/table.spec.ts
Due: eslint --fix --quiet, tsc --noEmit

added tests for tables
  src/helpers/helpers.ts
  src/ui/base-class.ts
  src/ui/components/table.ts
  src/ui/types/table-types.ts
  tests/ui/w3/table.spec.ts
Due: eslint --fix --quiet, tsc --noEmit

added tests for tables
  fixtures/ui-hooks.ts
  package-lock.json
  package.json
  setup/global-teardown.ts
  setup/setup-ui.ts
  src/helpers/helpers.ts
  tests/ui/downloads/download-pdf.spec.ts
Due: eslint --fix --quiet, tsc --noEmit

changed hooks logic
  fixtures/ui-hooks.ts
  tests/ui/downloads/download-pdf.spec.ts
  tests/ui/google/google-search.spec.ts
  tests/ui/w3/table.spec.ts
Due: eslint --fix --quiet, tsc --noEmit

removed lint staged
  package-lock.json
  package.json
Due: eslint --fix --quiet

added running tests on PR, push and on schedule
  .github/workflows/check-code.yml
  .github/workflows/run-tests.yml
  config/ui.playwright.config.ts
Due: eslint --fix --quiet, tsc --noEmit

added running tests on PR, push and on schedule
  .env.example
  .github/workflows/check-code.yml
  .github/workflows/run-tests.yml
  config/ui.playwright.config.ts
Due: eslint --fix --quiet, tsc --noEmit

packages update
  .eslintrc.json
  .prettierrc.json
  package-lock.json
  package.json
Due: eslint --fix --quiet

lint fixes
  .eslintrc.json
  .husky/pre-commit
  .lintstagedrc.json
  fixtures/ui-hooks.ts
  package-lock.json
  package.json
  src/ui/types/base-class-types.ts
Due: eslint --fix --quiet, tsc --noEmit

fix for dependabot
  .github/dependabot.yml
Due: none

eslint fixes
  .eslintrc.json
  .prettierignore
  .prettierrc.json
  package-lock.json
  package.json
Due: eslint --fix --quiet

updated ide settings
  .idea/codeStyles/Project.xml
Due: none

updated assertions
  tests/ui/google/google-search.spec.ts
  tests/ui/w3/table.spec.ts
Due: eslint --fix --quiet, tsc --noEmit

Path conditions:
  eslint --fix --quiet: any of: *.{ts,js,json}
  tsc --noEmit: any of: **/*.ts
